/* Réinitialiser les marges et padding pour tous les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style de base pour le body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Menu de navigation aligné à gauche */
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Permet d'aligner les éléments du menu à gauche */
  margin: 0;
}

nav ul li {
  display: inline-block; /* Passe chaque élément de la liste en bloc */
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Section principale */
main {
  flex: 1; /* Permet au main de s'étendre et laisser de la place au footer */
  padding: 20px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

form input, form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}
